@model MvcRpg.Models.ViewModels

    
    <div class="well">
        <h3>@Model.Player.Name</h3>
        <p id="pLevel">Level: @Model.Player.Level</p>
        <p id="pHealth">Health: @Model.Player.MyStats.Health</p>
        <p>Mana:@Model.Player.MyStats.Mana</p>
        <p>Strength: @Model.Player.MyStats.Strength</p>
        
        <p></p>
    </div>
