@model MvcRpg.Models.ViewModels

<div class="well">
    <h3 id="mName">@Model.Monster.Name</h3>
    <p id="mHealth">Health: @Model.Monster.stats.Health</p>
    <p id="mMana">Mana: @Model.Monster.stats.Mana</p>
    <p id="mStrength">Strength: @Model.Monster.stats.Strength</>
</div>

